/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* NAVBAR */
.font-navbar {
  font-family: 'Poppins', sans-serif !important;
}

.nav-item .nav-link {
  text-decoration: none !important;
}

.nav-item .nav-link:hover {
  text-decoration: none !important;
}

/* FIN NAVBAR */


.font-semibold-important {
  font-weight: 700 !important;
}

.carousel-item-custom {
  height: 600px; /* Altura fija para el carrusel */
}

.carousel-item-custom img {
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
  height: 100%;
}

.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Espacio inferior para separar del texto */
}

.stream {
  width: 40%;
  max-width: 500px;
  min-width: 250px;
}

.rsi-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.rsi-home {
  width: 55%;
  max-width: 550px;
  min-width: 300px;
}

.rounded-circle-custom {
  width: 170px !important;
  height: 170px !important;
}


.dropdown-toggle {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  margin-left: 0.5rem !important; /* Espacio a la izquierda del botón dropdown */
}

.programas-item {
  position: relative;
  overflow: hidden;
  margin: auto; /* Centra el contenedor */
}

.programas-item img {
  width: 300px;
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover;
  object-position: center;
  border-radius: 10%;
}

.programas-item h4 {
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 10px;
}

.programas-item p {
  font-size: 15px;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.team-publicidad {
  min-height: 250px !important; /* Ajusta según sea necesario */
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.team-publicidad p.text-black {
  flex-grow: 1 !important;
}

.social-buttons {
  margin-top: auto !important; /* Asegura que los botones estén alineados al fondo del contenedor */
}